  <div class="col-6">
    <div class="form-floating mb-3">
      <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Username"
      value="{{username}}"
    />
    <label for="username">Имя пользователя</label>
  </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input
      type="text"
      class="form-control"
      id="firstname"
      name="firstname"
      placeholder="Firstname"
      value="{{firstname}}"
    />
    <label for="firstname">Имя</label>
  </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input
      type="text"
      class="form-control"
      id="lastname"
      name="lastname"
      placeholder="Lastname"
      value="{{lastname}}"
    />
    <label for="lastname">Фамилия</label>
  </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" name="email" 
    placeholder="name@email.com"
    value="{{email}}"/>
    <label for="email">Эмайл</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone"
      value="{{phone}}"/>
    <label for="phone">Телефон</label>
      </div>
  </div>
  
  <div class="col-6">
    <div class="form-floating mb-3">
      <textarea class="form-control" id="comment" name="comment" placeholder="Leave a comment here" style="height"/>{{comment}}</textarea> 
    <label for="comment">Комментарий</label>
      </div>
  </div>


  <div class="col-6">
    <div class="form-floating mb-3">
      <textarea class="form-control" id="userImage" name="userImage" placeholder="https://..." />{{userImage}}</textarea> 
    <label for="userImage">Загрузить изображение</label>
      </div>
  </div>

